MONGODB_URI=your_mongodb_connection_string_here // Example: mongodb://localhost:27017/test as I did at server.js


CLIENT_ID=your_id_here
CLIENT_SECRET=your_secret_here
SECRET=some_random_secret_string